# Environment Variables Example
## App Configuration
PORT=3000
MONGO_ATLAS_URI=your_mongo_atlas_uri_here
# Database connection string for MongoDB Atlas
MAIL_HOST=your_mail_host_here
MAIL_PORT=your_mail_port_here
MAIL_USER=your_mail_user_here
MAIL_PASSWORD=your_mail_password_here
# Mail server configuration for sending emails
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRES_IN=1h
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_ACCESS_EXPIRES_IN=15m
